@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
   background-color: black;
   background-image: url(img/3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
